<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")  %>
<body>
    <%- include("partials/header") %>
    <main>
        <h2>ARTICULOS PRINCIPALES:</h2>
<!-- ultima visita -->
        
        <!-- Show the "visited" products -->
        <section class="articulos-principales">
            <% products.forEach((product) => { %>
            <div class="articulo-item">
            <img src="/images/<%= product.image %>" alt="imagen de producto">
            <h2>$<%= product.precio %></h2>
           <a href="/products/detail/<%=product.id%>"><p><%= product.name %></p></a>   
             <p class="oferta"><i class="fas fa-truck"></i> <%= product.descuento %>% OFF</p></i>
            </div>         
            <%  }); %>  

        </section>
        
    </main>
    <%- include("partials/footer") %>
</body>
</html>