<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <section class="productos">
            <div class="div_title">
                <h1>Lista de Productos</h1>
            </div>
            <div class="div-products">
                <table>
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <!-- <th>Stock</th> -->
                        <th><th>Acciones</th></th>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product-image"></td>
                                <td><%= product.name %></td>
                                <td><%= product.description %></td>
                                <td>$<%= product.precio %></td>
                                <td><%= product.stock %></td>
                                <td class="product_acciones">
                                    <a href="products/detail/<%= product.id %>"><button class="productacc"><i class="fa-solid fa-circle-info"></i></button></a>
                                    <a href="products/<%= product.id%>/edit?_method"><button class="productacc"><i class="fa-solid fa-square-pen"></i></button></a>
                                    <form action="/products/<%=product.id%>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este producto?');">
                                        <button class="productacc" type="submit" class="btn-delete-product"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>